html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shippori Mincho", serif;
}
.header_fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background-color: rgb(254, 243, 214);
  width: 100%;
  height: 80px;
  z-index: 1;
  opacity: 0.3;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.5s;
  background-color: #fff;
  z-index: 10000;

  &_wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    display:inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

  }
  

  span {
    position: absolute;
    display:inline-block;
    background-color: #333;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 205, 96);
    
    
  }
  .load1 {
    animation-name: load1-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    transition: 1.5s;
  }
  .load2 {
    animation-name: load2-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition: 1.5s;
  }
}
@keyframes load1-animation {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: rgb(255, 205, 96);
    
  }

  100% {
    transform: scale(0);
    opacity: 0;
    background-color: rgb(253, 182, 28);
  }
}
@keyframes load2-animation {
  0% {
    transform: scale(0);
    opacity: 0;
    background-color: rgb(253, 182, 28);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    background-color: rgb(255, 205, 96);
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.hamburger {
  position: fixed;
  top: 40px;
  right: 3%;
  z-index: 100;
  cursor: pointer;
  transform: translateY(-50%);
  &:hover {
    opacity: 0.9;
  }
  &::before {
    content: "";
    position: fixed;
    top: -11px;
    left: -5px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(77, 76, 76);
    z-index: 0;
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1;
    transform: scale(1.2);
  }

  &.menu-open {
    position: fixed;
    top: 40px;
    right: 3%;
    z-index: 100;
    cursor: pointer;
    transform: translateY(-50%);

    & .inner_line {
      background-color: rgb(255, 253, 253);
      &:nth-child(1) {
        transform: translateY(8px) rotate(405deg);
      }
      &:nth-child(2) {
        transform: translateX(90px);
      }
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-405deg);
      }
    }
  }
  .inner_line {
    // position: absolute;
    transition: transform 0.3s;
    display: block;
    background-color: rgb(255, 253, 253);
    width: 30px;
    height: 2px;
  }
  & #line1 {
    margin-bottom: 6px;
  }
  & #line2 {
    margin-bottom: 6px;
  }
  & #line3 {
    margin: 0;
  }
}
.header {
  position: relative;
  margin: 0;
  padding: 0;
  & .pc_menu {
    opacity: 1;
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 100;
    // background: yellow;
    width: 100%;
    & ul {
      display: flex;
      width: 70%;
      height: 100%;
      align-items: center;
      margin: 0 3% 0 27%;
      justify-content: space-between;

      & li {
        &:hover {
          border-bottom: solid 1px black;
        }

        & a {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
  & h3 {
    position: fixed;
    top: 36px;
    left: 3%;
    z-index: 10;
    margin: 0;
    font-size: 22px;
    color: rgb(55, 22, 22);
    font-weight: normal;
    letter-spacing: 0.1em;
    transform: translateY(-50%);
  }
  & p {
    position: fixed;
    top: 60px;
    left: 3%;
    z-index: 10;
    margin: 0;
    font-size: 5px;
    color: rgb(55, 22, 22);
    transform: translateY(-50%);
  }
}
.mobile_menu {
  position: fixed;
  height: 100vh;
  width: 40%;
  margin: 0 0 0 60%;
  background-color: #555;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  transform-origin: right top;
  z-index: 90;

  // visibility: hidden;

  &.menu-open {
    opacity: 1;
    // visibility: visible;
    transform: scale(1);
  }

  & ul {
    margin-top: 90px;
    margin-left: 20px;

    & li {
      &:nth-child(1) {
        margin-bottom: 50px;
      }
      &:nth-child(2) {
        margin-bottom: 50px;
      }
      &:nth-child(3) {
        margin-bottom: 50px;
      }
      &:nth-child(4) {
        margin-bottom: 50px;
      }
      &:nth-child(5) {
        margin-bottom: 50px;
      }
      & a {
        text-decoration: none;
        color: #fff;
        &:hover {
          border-bottom: #fff 1px solid;
        }
      }
    }
  }
}
.main_visual {
  position: relative;
  height: 80vh;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    opacity: 0.3;
  }

  & h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(5, 5, 5);
    font-weight: normal;
    margin: 0;
    letter-spacing: 0.2em;
    font-size: 36px;
    width: 100%;
    text-align: center;
    z-index: 10;
    & span {
      position: absolute;
      font-size: 80px;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  & img {
    position: relative;
    filter: brightness(1.1);
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
}

//ここからセクション1
.container {
  width: 90%;
  margin: 0 auto;
}
.sec_title {
  text-align: center;
  color: #333;
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 30px;
  & + p {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.management {
  margin: 80px 0;
}
.management_flex {
  & img {
    display: inline-block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  & p {
    &:nth-child(3) {
      font-weight: normal;
      color: #333;
      margin-top: 30px;
    }
    &:nth-child(5) {
      font-weight: normal;
      color: #333;
      margin: 50px 0;
    }
  }
}
.btn {
  position: relative;
  padding: 0;
  text-align: center;
  border: black solid 1px;
  overflow: hidden;
  border-radius: 4px;
  width: 30%;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
    color: #fff;
    transform: none;
    display: block;
    transform: none;
    &::before {
      color: #fff;
      transform: none;
      transition: 0.7s;
      opacity: 1;
    }
  }
  & p {
    display: block;
    margin: 18px 0;
    padding: 0;
  }
}
.quality {
  &_content {
    & img {
      display: inline-block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    & h3 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    & p {
      margin-bottom: 40px;
    }
  }
}
.works {
  & .carousel {
    overflow: hidden;
  }
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    transition: 1s;

    & li {
      height: 50vh;
      min-width: 100%;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
.prev,
.next {
  display: block;
  font-size: 40px;
  color: rgb(255, 250, 250);
  background-color: rgba(104, 102, 102, 0.6);

  margin: 0;
  text-align: center;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 0 8px 4px;
  border: 0;
  cursor: pointer;
  user-select: none;
  &.hidden {
    display: none;
  }
}
.carousel {
  margin-top: 24px;
  position: relative;
  & {
    .prev {
      position: absolute;
      top: 50%;
      left: 0;
    }
    .next {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
.art_btn {
  margin-top: 24px;
  margin-bottom: 90px;
  text-align: center;

  & button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: rgba(104, 102, 102, 0.6);
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transform: none;

    &.current {
      transform: scale(1.1);
      background-color: rgba(31, 29, 29, 0.6);
    }
  }
}
.about {
  width: 100%;
  padding-bottom: 80px;

  background-color: #4e5346;
  color: #fff;

  & .sec_title {
    color: #fff;
    margin: 0;
    padding-top: 80px;
  }
  & p {
    text-align: center;
    line-height: 3em;
    letter-spacing: 0.14em;
    margin-top: 0;
    margin-bottom: 0;
   

    & a {
      text-decoration: #fff;
      color: #fff;
    }
  }
  & span {
    font-size: 80px;
    text-align: center;
    display: block;
  }
}
.footer {
  position: relative;
  & h3 {
    text-align: center;
    font-size: 22px;
    color: rgb(55, 22, 22);
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-top: 60px;
    margin-bottom: 0;
  }
  & p {
    text-align: center;

    z-index: 10;
    margin: 0;
    font-size: 5px;
    color: rgb(55, 22, 22);
    &:first-child {
      margin-bottom: 24px;
    }
  }

  & ul {
    list-style: none;
    padding: 0;
    & li {
      text-align: center;
      &:last-child {
        margin-bottom: 24px;
      }
      & a {
        line-height: 3em;
        text-decoration: none;
        color: black;
      }
    }
  }
}
